@use "./styles/Abstracts/mixin" as *;
@use "./styles/Abstracts/variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  width: 100%;
  height: 100%;
}
.maincontainer {
  width: 100%;
  height: 100%;
  @include flex(column, none, none, 1);
}

#scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #c1c1c1;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

#scroll::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  // border: 2px solid red;
}
